params{
  //============================Required parameters================================================================================================
  mode=                   "test" //If mode is set to 'test', the pipeline randomly samples 2 sample IDs and 5 intervals, set to 'prod' to run on entire datase
  emailaddress=           "" //Email address to receive run notifications
  clusteraccount=         "default" //Account to be used on computing cluster, change this to the associated cluster account
  notifications=          true  //Set to false to disable emails
  aligner=                "bwamem2" //Options include 'bwamem', 'bwamem2','bowtie2', or 'star'
  aligneroptions=         "" //String of extra parameters to be passed to the aligner e.g '-p1 param1 -p2 param2 --p3 param3' check aligner on extra parameter option
  refgenome=              "" //Path to the fasta file for the reference genome
  refannotation=          "" //Path to annotation file in gff or gtf format. Important for the star aligner
  rawdata=                "" //Deprecated - path to the directory where the raw data are saved, not used if sample sheet is provided
  outdir=                 "" //Path to the directory where the results will be saved
  trimmethod=             "fastp" //Trimming method used in the trimming step,options include 'fastp' or 'trimmomatic'
  trimmeroptions=         "" //Extra options to be passed to the trimming method
  samplesheet=            "" //Provide full path to a comma delimited sample sheet with at least 2 columns; SampleID,Path2Read1
  seqtype=                'dna' //A character string or an integer giving the type of sequencing data. Possible values include ‘rna’ RNA-seq data and ‘dna’ genomic DNA-seq data such as WGS, WES, ChIP-seq data etc.

  //============================Options for Trimming and Alignment========================================================================================
  mappingquality=         5 //Filtering option passed to samtools to filter reads with mapping quality below the value
  markduplicates=         false //Set to true to skip the markduplicates step
  markduplicatesoptions=  "" //Extra options to be passed to MarkDuplicates
  samtoolsoptions=        "" //Extra options passed to samtools view, see samtools view --help for more options
  GATKknowsitesrecal=     "" //Known sites that are used in the recalibration step
  GATKbaserecaloptions=   "" //Extra options to pass to the BaseRecalibrator including extra knownsites
  GATKApplyBQSRoptions=   "" // Extra options passed to ApplyBQSR
  indexdir=               "" //Optional: Path to the directory where aligner indexed version of the reference genome will be/is stored
  indexprefix=            "" //Prefix to current index, should be provided if indexdir is provided
  MASK=                   0 //Not in use
  OFFSET=                 33 //Used in trimmomatic
  prepkit=                "" //Option used in trimmomatic to select adaptor, options include; NexteraPE,TruSeq2,TruSeq3
  RGPL=                   "ILLUMINA" //Name of the sequencing platform
  keepbams=               false //Whether to keep or delete merged bam files
  keeptrimmedfqs=         false //Whether to retain trimmed files

  //============================Options to skip steps===============================================================================================
  fastqc=                 false //Set to true to skip fastqc step
  alignment=              false //If bams exist, set to true and provide path to bam files to the 'bamdir' parameter
  bamdir=                 "" //If bam files exist, specify path to bam files and set skip alignment to true
  gatk=                   false //Set to true to skip all the gatk steps
  conda=                  false //Not in use at the moment
  trimming=               false //Not in use at the moment
  runfastqconly=          false //Set to true to only run the fastqc step

  //============================Options for GATK==================================================================================================
  intervalsizegatk=       100000000 //Interval size to be used in GATK steps
  splitintervalsgatk=     10 //Number of subintervals to be generated for main interval
  chromtoexclude=         'chrUn' //Exclude all intervals belonging to this chromosome, alternatively, you can specify the starting pattern of contigs to exclude e.g 'Scaffold*'
  excludesmallchrs=       false //If set to true, any chromosome/contings/scaffolds with length less than specified interval size are excluded
  GATKreferenceVCF=       'null' //Path to VCF file against which haplotypes will be called, should be in standard VCF format
  GATKreferenceVARSonly=  true //Whether to call variants included in the reference VCF file only.
  GATKHaplotypeoptions=   "" //Any extra parameters passed to GATK haplotype caller
  GATKbamout=             false //Option to enable output of realigned reads
  GATKDBImportoptions=    "" //Any extra parameters to GATK GenomicsDBImport
  GATKGenotypingoptions=  " " //Any extra parameters to GATK GenotypeGVCFs
  GATKupdateexistingdb=   false //Set true if you want to add new samples to an already existing database
  GATKpathtodbs=          "" //Set path to existing GATKDBImport databases
  GATKsavedatabase=       false //If you wish to save the databases from GATK's DBImport, set to true


  //============================VCF-filtering-options==============================================================================================
  MAFbcf=                 0.001 //Minor allele frequency - used for filtering variants in VCF
  CRbcf=                  30  //Calling rate - fraction of samples in which the variant is present
  ACbcf=                  3 //Allele count in genotypes
  MQbcf=                  30 //RMS Mapping Quality
  otherfilters=           "" // Extra filtering options can be passed here, see BCFtools on how to prepare filtering options
  keepmultiallelicbcf=    "yes" //Whether to retain only bi-allelic sites or all sites including multi-allelic sites
  keepindelsbcf=          "yes" //Whether to retain indels
}
