if (params.help) {
  params.notifications=false
  def helpout=""
  new File("${projectDir}/params.config").eachLine { line ->
    aa="|--"+line.trim().replaceAll("params.*|\\{|\\}","").replaceAll("=.*//","\t").replaceAll("//","")  // Process each line as you read it
    if(aa=="|--")
          aa=aa.replaceAll("--","")
    helpout+="\n"+aa.replaceAll("--=","=")
  }

  help = """
  main.nf: Shortbread2 is a Nextflow-based pipeline for calling genotypes from High Throughput Next-Generation Sequencing (NGS) data

  Usage: It's recomended that you use the ${projectDir}/params.config file to add all parameters and then run shortbread as;

    nextflow run ${projectDir}/main.nf --mode [test|prod] --paramfile 'Absolute path to param config file' [other Nextflow arguments]

  but you can also add these on the command line as;

    nextflow run ${projectDir}/main.nf --mode [test|prod] --param1 --param2 ... --paramN [other Nextflow arguments]

  ${helpout}

  |============================other Nextflow argumentscommonly used with shortbread===========================================================================================
  |-w                         Directory where intermediate result files are stored - this is very important as the intermediary files produced by shortbread can fill up really quickly
  |-resume                    This allows nextflow to resume from a previous execution
  |-profile                   Choose a configuration profile, shortbread comes with 2 profiles; 'standard' allows you to run on the local host and 'slurm' allows you to use the slurm executor
  |for more options; see nextflow run -h """.stripMargin()
  System.out.println(help)
  System.exit(0)
}