params {
    //============================Software versions===============================================================================================
    usedefaults               = false //Option to allow shortbread to load default modules on basc, set to false to use different versions
    gatkversion               = "4.4.0.0-GCCcore-11.2.0-Java-17"
    samtoolsversion           = "1.17-GCC-11.2.0"
    HTSlibversion             = "1.17-GCC-11.2.0.lua"
    BCFtoolsversion           = "1.17-GCC-11.2.0.lua"
    fastptrimversion          = "0.23.4-GCC-11.2.0"
    trimmomaticversion        = "0.38-Java-1.8"
    picardversion             = "3.0.0-Java-17"
    bwamemalignerversion      = "0.7.17-intel-2019a"
    bwamem2alignerversion     = "2.1-GCC-9.3.0"
    bowtie2alignerversion     = "2.4.5-GCC-11.2.0"
    staralignerversion        = "2.7.10b-GCC-11.2.0"
    subreadalignerversion     = "2.0.0-foss-2019a"
    fastqcversion             = "0.11.8-Java-1.8"
    multiqcversion            = "1.9-foss-2020a-Python-3.8.2"
}